*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

html, body, #root>div{
  width: 100%;
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #081d35;
}

@media(max-width: 800px){
  body{
    overflow-y: scroll;
    z-index: 1;
    position: relative;
  }

  #root{
    height: fit-content;
  }
}

@media (min-height: 1000px) {
  #root{
    height: 100%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
